swagger: '2.0'
info:
  title: Brigham Young University Audiovisual API
  description: Manage various AV systems across BYU campus with the BYU AV API
  version: "0.0.1"
host: api.byu.edu
schemes:
  - https
produces:
  - application/json
paths:
  /rooms:
    get:
      summary: All Rooms
      description: |
        The Rooms endpoint returns information about the various AV products
        offered across campus. The response includes the display name
        and other details about each product.
      tags:
        - Rooms
      responses:
        200:
          description: An array of systems
          schema:
            type: array
            items:
              $ref: '#/definitions/System'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /manage/{building}/{room}/{system}:
    get:
      summary: All Rooms
      description: |
        The Rooms endpoint returns information about the various AV products
        offered across campus. The response includes the display name
        and other details about each product.
      parameters:
        - name: building
          in: path
          description: BYU building shortname.
          required: true
          type: string
          format: double
        - name: room
          in: path
          description: Room number.
          required: true
          type: string
        - name: system
          in: path
          description: System name/identifier.
          required: true
          type: number
          format: double
      tags:
        - Rooms
      responses:
        200:
          description: An array of systems
          schema:
            type: array
            items:
              $ref: '#/definitions/System'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  System:
    type: object
    properties:
      system_id:
        type: string
        description: Unique identifier representing a specific system. For example, a DMPS in the MARB will have a different system_id than a DMPS in the JKB.
      description:
        type: string
        description: Description of system.
      display_name:
        type: string
        description: Display name of system.
      capacity:
        type: string
        description: Capacity of system. For example, 4 people.
      image:
        type: string
        description: Image URL representing the system.
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
