{
	"swagger": "2.0",
	"info": {
		"title": "AV API",
		"description": "Manage various AV systems across the BYU campus",
		"version": "0.4"
	},
	"host": "api.byu.edu:443",
	"basePath": "/byuoitav-av-api/0.4",
	"schemes": [
		"https"
	],
	"produces": [
		"application/json"
	],
	"paths": {
		"/health": {
			"get": {
				"summary": "Check Service Health",
				"description": "Returns information about the microservice's health",
				"tags": [
					"Health"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/default"
					}
				}
			}
		},
		"/buildings/{building}/rooms/{room}": {
			"get": {
				"summary": "Get a Specific Room",
				"description": "Returns information about a specific room in a specified building",
				"parameters": [{
					"$ref": "#/parameters/building"
				}, {
				"$ref": "#/parameters/room"
				}],
				"tags": [
					"Rooms",
					"Buildings"
				],
				"responses": {
					"200": {
						"description": "A room object",
						"schema": {
							"$ref": "#/definitions/RoomResponse"
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/default"
					}
				}
			},
			"put": {
				"summary": "Modify a Room",
				"description": "Update various qualities about a room",
				"parameters": [{
					"$ref": "#/parameters/building"
				}, {
				"$ref": "#/parameters/room"
				}, {
				"name": "body",
				"description": "The updated room information",
				"in": "body",
				"schema": {
					"$ref": "#/definitions/RoomRequest"
				}
				}],
				"tags": [
					"Rooms",
					"Buildings"
				],
				"responses": {
					"201": {
						"description": "All went well",
						"schema": {
							"$ref": "#/definitions/RoomResponse"
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/default"
					}
				}
			}
		}
	},
	"definitions": {
		"HATEOAS": {
			"type": "object",
			"properties": {
				"rel": {
					"type": "string",
					"description": "A human-readable name for what the link represents"
				},
				"href": {
					"type": "string",
					"description": "The link to the endpoint"
				}
			}
		},
		"RoomRequest": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string",
					"description": "The human-readable name of the room"
				},
				"roomID": {
					"type": "string",
					"description": "The room number"
				},
				"description": {
					"type": "string",
					"description": "A human-readable description of the room"
				}
			}
		},
		"RoomResponse": {
			"type": "object",
			"properties": {
				"links": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/HATEOAS"
					}
				},
				"currentVideoInput": {
					"type": "string",
					"description": "The human-readable name of the current video input"
				},
				"currentAudioInput": {
					"type": "string",
					"description": "The human-readable name of the current audio input"
				},
				"power": {
					"type": "string",
					"description": "The current power state"
				},
				"blanked": {
					"type": "boolean",
					"description": "Whether or not the display is blanked"
				},
				"displays": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Display"
					}
				},
				"audioDevices": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/AudioDevice"
					}
				}
			}
		},
		"AudioDevice": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string",
					"description": "The name of the audio device"
				},
				"power": {
					"type": "string",
					"description": "The power state of the audio device"
				},
				"input": {
					"type": "string",
					"description": "The name of the current input to the audio device"
				},
				"muted": {
					"type": "boolean",
					"description": "Whether or not the audio device is currently muted"
				},
				"volume": {
					"type": "integer",
					"description": "The volume of the audio device (usually between 0 and 100)"
				}
			}
		},
		"Display": {
			"type": "object",
			"properties": {
				"name": {
					"type": "string",
					"description": "The name of the audio device"
				},
				"power": {
					"type": "string",
					"description": "The power state of the audio device"
				},
				"input": {
					"type": "string",
					"description": "The name of the current input to the audio device"
				},
				"muted": {
					"type": "boolean",
					"description": "Whether or not the audio device is currently muted"
				}
			}
		},

		"Response": {
			"type": "object",
			"properties": {
				"links": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/HATEOAS"
					}
				},
				"message": {
					"type": "string",
					"description": "A human-readable message about what just happened"
				}
			}
		},
		"Error": {
			"type": "object",
			"properties": {
				"message": {
					"type": "string"
				}
			}
		}
	},
	"parameters": {
		"building": {
			"name": "building",
			"in": "path",
			"description": "Building shortname",
			"required": true,
			"type": "string"
		},
		"room": {
			"name": "room",
			"in": "path",
			"description": "Room name",
			"required": true,
			"type": "string"
		}
	},
	"responses": {
		"401": {
			"description": "You are not authorized to make that request",
			"schema": {
				"$ref": "#/definitions/Error"
			}
		},
		"500": {
			"description": "There was a problem with the server on our end",
			"schema": {
				"$ref": "#/definitions/Error"
			}
		},
		"503": {
			"description": "The server is overloaded, is under maintenance, or is otherwise unavailable",
			"schema": {
				"$ref": "#/definitions/Error"
			}
		},
		"default": {
			"description": "Unexpected error",
			"schema": {
				"$ref": "#/definitions/Error"
			}
		}
	}
}
