swagger: '2.0'
info:
  title: Brigham Young University Audiovisual API
  description: Manage various AV systems across BYU campus with the BYU AV API
  version: "0.0.1"
host: api.byu.edu
schemes:
  - https
produces:
  - application/json
paths:
  /room:
    get:
      summary: All Rooms
      description: |
        The Room endpoint returns information about the various AV products
        offered across campus. The response includes the display name
        and other details about each product.
      tags:
        - Rooms
      responses:
        200:
          description: An array of rooms
          schema:
            type: array
            items:
              $ref: '#/definitions/Room'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Make a Room
      description: |
        Make a new room and add it to the database.
      tags:
        - Rooms
      responses:
        201:
          description: All went well
          schema:
            $ref: '#/definitions/Room'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /room/{room}:
    get:
      summary: All Rooms
      description: |
        The Room endpoint returns information about the various AV products
        offered across campus. The response includes the display name
        and other details about each product.
      parameters:
        - name: room
          in: path
          description: Room GUID.
          required: true
          type: string
      tags:
        - Rooms
      responses:
        200:
          description: An array of rooms
          schema:
            type: array
            items:
              $ref: '#/definitions/Room'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    put:
      summary: Update a Room
      description: |
        Update information about a room and propegate the new data through the
        database.
      parameters:
        - name: room
          in: path
          description: Room GUID.
          required: true
          type: string
      tags:
        - Rooms
      responses:
        200:
          description: All went well
          schema:
            $ref: '#/definitions/Room'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    delete:
      summary: Update a Room
      description: |
        Update information about a room and propegate the new data through the
        database.
      parameters:
        - name: room
          in: path
          description: Room GUID.
          required: true
          type: string
      tags:
        - Rooms
      responses:
        200:
          description: All went well
          schema:
            $ref: '#/definitions/Room'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /configuration/{building}/{room}:
    get:
      summary: All Rooms
      description: |
        The Rooms endpoint returns information about the various AV products
        offered across campus. The response includes the display name
        and other details about each product.
      parameters:
        - name: building
          in: path
          description: BYU building shortname.
          required: true
          type: string
          format: double
        - name: room
          in: path
          description: Room number.
          required: true
          type: string
      tags:
        - Rooms
      responses:
        200:
          description: An array of systems
          schema:
            type: array
            items:
              $ref: '#/definitions/Processor'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  HATEOAS:
    type: object
    properties:
      rel:
        type: string
        description: A human-readable name for what the link represents
      href:
        type: string
        description: The link to the endpoint
  Room:
    type: object
    properties:
      name:
        type: string
        description: The human-readable name of the room
      ID:
        type: string
        description: The GUID of the room
      roomID:
        type: string
        description: The room number
      description:
        type: string
        description: A human-readable description of the room
      available:
        type: boolean
        description: Whether or not the room is currently available (calculated based on campus room scheduling and whether or not the room's processor reports as in-use)
  Processor:
    type: object
    properties:
      name:
        type: string
        description: The human-readable name of the processor
      ID:
        type: string
        description: The GUID of the processor
      address:
        type: string
        description: The IP address of the processor
      modified:
        type: string
        description: The date this processor was last modified
      signals:
        type: array
        description: The available signals attached to this processor
        items:
          $ref: '#/definitions/Signal'
  Signal:
    type: object
    properties:
      name:
        type: string
        description: The human-readable name of the signal
      ID:
        type: string
        description: The GUID of the signal
      type:
        type: integer
        description: Crestron-defined signal type
      modified:
        type: string
        description: The date this signal was last modified
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
